<link rel='stylesheet' href='/css/movie-detail.css' />
<!-- breadcrumb area start -->
<section class='breadcrumb-area'>
  <div class='container'>
    <div class='row'>
      <div class='col-lg-12'>
        <div class='breadcrumb-area-content'>
          <h1>Movie Detalied Page</h1>
        </div>
      </div>
    </div>
  </div>
</section><!-- breadcrumb area end -->
<!-- transformers area start -->
<section class='transformers-area'>
  <div class='container'>
    <div class='transformers-box'>
      <div class='row flexbox-center'>
        <div class='col-lg-5 text-lg-left text-center'>
          <div class='transformers-content'>
            <img src='{{data.image}}' alt='about' />
          </div>
        </div>
        <div class='col-lg-7'>
          <div class='transformers-content'>
            <h2>{{data.name}}</h2>
            <p>3D | Animation | Action | Sci-Fi</p>
            <ul>
              <li>
                <div class='transformers-left'>
                  Movie:
                </div>
                <div class='transformers-right'>
                  <a>Sci-Fic</a>
                </div>
              </li>
              <li>
                <div class='transformers-left'>
                  Writer:
                </div>
                <div class='transformers-right'>
                  {{data.writer}}
                </div>
              </li>
              <li>
                <div class='transformers-left'>
                  Director:
                </div>
                <div class='transformers-right'>
                  {{data.director}}
                </div>
              </li>
              <li>
                <div class='transformers-left'>
                  Time:
                </div>
                <div class='transformers-right'>
                  {{data.showtimeDuration}} min
                </div>
              </li>
              <li>
                <div class='transformers-left'>
                  Release:
                </div>
                <div class='transformers-right'>
                  {{formatDate data.releaseDate dateOnlyFormat}}
                </div>
              </li>
              <li>
                <div class='transformers-left'>
                  Language:
                </div>
                <div class='transformers-right'>
                  {{data.language}}
                </div>
              </li>
              {{#if data.showtimes}}
              <li>
                <div class='transformers-left'>
                  Cinema:
                </div>
                <div class='transformers-right d-flex flex-wrap justify-content-between'>
                  {{#each data.showtimes}}
                  <div class='trasformers-detail'>
                    {{cinemaRoom.name}}, {{cinemaRoom.cinema.name}}, {{cinemaRoom.cinema.location.name}}
                    <div class='transformers-bottom'>
                      <p>
                        {{formatDate this.showDate ../displayDateFormat}}
                        <span>{{time.time}}</span>
                      </p>
                    </div>
                  </div>
                  {{/each}}
                </div>
              </li>
              {{/if}}
              <li>
                <div class='transformers-left'>
                  Share:
                </div>
                <div class='transformers-right'>
                  <a href='#'><i class='icofont icofont-social-facebook'></i></a>
                  <a href='#'><i class='icofont icofont-social-twitter'></i></a>
                  <a href='#'><i class='icofont icofont-social-google-plus'></i></a>
                  <a href='#'><i class='icofont icofont-youtube-play'></i></a>
                </div>
              </li>
              <li class='d-flex justify-content-center'>
                <a href='{{data.trailerUrl}}' class='theme-btn btn-trailer'>
                  Trailer
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <a href='' class='theme-btn btn-book-ticket' data-movie-id='{{data.id}}'>
        <i class='icofont icofont-ticket'></i>
        BUY TICKET
      </a>
    </div>
  </div>
</section><!-- transformers area end -->
<!-- details area start -->
<section class='details-area'>
  <div class='container'>
    <div class='row'>
      <div class='col-lg-9'>
        <div class='details-content'>
          <div class='details-overview'>
            <h2>Overview</h2>
            <p>{{data.description}}</p>
          </div>
          <div class='details-reply'>
            <div class='transformers-box'>
              <div class='rating-wrap'>
                <h2 class='rating-title'>Your rating for movie</h2>
                <div class='rating'>
                  <input type='radio' name='rating' value='5' id='5' /><label
                    for='5'
                  >☆</label>
                  <input type='radio' name='rating' value='4' id='4' /><label
                    for='4'
                  >☆</label>
                  <input type='radio' name='rating' value='3' id='3' /><label
                    for='3'
                  >☆</label>
                  <input type='radio' name='rating' value='2' id='2' /><label
                    for='2'
                  >☆</label>
                  <input type='radio' name='rating' value='1' id='1' /><label
                    for='1'
                  >☆</label>
                </div>
                <div class="rating-submit mt-3">
                  <a
                    href="#"
                    type='button'
                    class='btn theme-btn'
                    id="vote-btn"
                    data-userId="{{user.id}}"
                    data-idmovie="{{data.id}}"
                  >Vote</a>
                </div>
              </div>
              <div class='list-comment'>
                <h2 class='comment-title'>Comments (<span id="totalComment"></span>)</h2>
              </div>
              <div class='row'>
                <div
                  class='col-lg-12 mt-3 d-flex flex-row align-items-center p-3 form-color'
                >
                {{#if user.avatarUrl}}
                  <img
                    src="{{user.avatarUrl}}"
                    width='60px'
                    class='rounded-circle nameOfUser'
                  />
                  {{else}}
                  <img
                    src='/img/user.png'
                    width='60px'
                    class='rounded-circle nameOfUser'
                  />
                  {{/if}}
                  <div class='textarea-container'>
                    <textarea
                      placeholder='Type Here Message'
                      class='form-textarea'
                      id="comment-text"
                    ></textarea>
                    <a href="#" class='btn-submit-comment theme-btn' type="button" id="submit-comment">
                      Send
                      <i
                        class='fa-solid fa-paper-plane'
                      ></i></a>
                  </div>
                </div>
              </div>
              {{! list comment }}
              <div class='commentOfUser-wrap'>
                  {{#each dataComments}}
                  <div class='mt-2 commentOfUser' data-wrapcomment="{{id}}">
                    <div class='d-flex flex-row p-3'>
                      {{#if user.avatarUrl}}
                      <img
                        src='{{user.avatarUrl}}'
                        class='rounded-circle mr-3 img-avatar'
                      />
                      {{else}}
                      <img
                        src='/img/user.png'
                        class='rounded-circle mr-3 img-avatar'
                      />
                      {{/if}}
                      <div class='w-100'>
                        <div
                          class='d-flex justify-content-between align-items-center'
                        >
                          <div class='d-flex flex-row align-items-center'>
                            <span class='nameOfUser'>{{user.fullName}}</span>
                            <small class='ml-3'>{{formatTimeAge createdAt}}</small>
                          </div>
                          {{#ifCond user.id '===' ../user.id}}
                          <div class='rounded-circle btn-ellipsis'><i
                              class='fa-solid fa-ellipsis'
                            ></i>
                            <div class='menu-edit-comment'>
                              <ul>
                                <li><a
                                    href='#modalEditComment'
                                    class='edit-action'
                                    data-toggle="modal"
                                    role="button"
                                    data-idcomment="{{../id}}"
                                  ><i class='icofont icofont-edit'></i>
                                    Edit</a></li>
                                <li><a href='#modalConfirmDeleteComment' class='delete-action'
                                       data-toggle="modal"
                                       role="button"
                                       data-idcomment="{{../id}}"><i
                                       class='icofont icofont-garbage'
                                    ></i>
                                    Delete</a></li>
                              </ul>
                            </div>
                          </div>
                          {{/ifCond}}
                        </div>
                        <p
                          class='text-justify comment-text mb-0'
                          data-contentcomment ={{id}}
                        >{{comment}}</p>
                      </div>
                    </div>
                  </div>
                {{/each}}
              </div>
              {{! end list comment }}
                {{#ifCond data.countComments '>' 10}}
                <div class='loadMore-wrap'>
                  <a href='#' id='loadMore' class='theme-btn'  data-pageno="1">Load More</a>
                </div>
              {{/ifCond}}
            </div>
          </div>
          <div class='details-thumb'>
            <div class='details-thumb-prev'>
              <div class='thumb-icon'>
                <i class='icofont icofont-simple-left'></i>
              </div>
              <div class='thumb-text'>
                <h4>Previous Post</h4>
                <p>Standard Post With Gallery</p>
              </div>
            </div>
            <div class='details-thumb-next'>
              <div class='thumb-text'>
                <h4>Next Post</h4>
                <p>Standard Post With Preview Image</p>
              </div>
              <div class='thumb-icon'>
                <i class='icofont icofont-simple-right'></i>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class='col-lg-3 text-center text-lg-left'>
        <div class='portfolio-sidebar'>
          <img src='/img/sidebar/sidebar1.png' alt='sidebar' />
          <img src='/img/sidebar/sidebar2.png' alt='sidebar' />
          <img src='/img/sidebar/sidebar4.png' alt='sidebar' />
        </div>
      </div>
    </div>
  </div>
</section><!-- details area end -->



<!--Modal: modalPush-->
<div
  class='modal fade'
  id='modalEditComment'
  tabindex='-1'
  aria-labelledby='exampleModalLabel'
  aria-hidden='true'
>
  <div class='modal-dialog modal-dialog-centered' role='document'>
    <!--Content-->
    <div class='modal-content text-center modal-edit-comment'>
      <!--Header-->
      <div class='modal-header d-flex justify-content-center border-0 modal-header-edit'>
        <p class='heading text-uppercase text-white'>Edit your comment</p>
      </div>
      <!--Body-->
      <div class='modal-body'>
          {{#if user.avatarUrl}}
            <img
              src='{{user.avatarUrl}}'
              class='rounded-circle mr-3 img-avatar'
            />
            {{else}}
            <img
              src='/img/user.png'
              class='rounded-circle mr-3 img-avatar'
            />
          {{/if}}
        <textarea
          placeholder='Type Here Message'
          class='form-textarea'
          id="editCommentMsg"
        ></textarea>

      </div>

      <!--Footer-->
      <div class='modal-footer d-flex justify-content-center border-0'>
        <a
          type='button'
          class='btn btn-edit-comment text-white'
          id="saveEditComment"
        >Save</a>
        <a
          type='button'
          class='btn btn-outline-edit-comment waves-effect text-white'
          data-dismiss='modal'
        >Cancel</a>
      </div>
    </div>
    <!--/.Content-->
  </div>
</div>
<!--Modal: modalPush-->

<!--Modal: modalConfirmDelete-->
<div class="modal fade right" id="modalConfirmDeleteComment" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <!--Content-->
    <div class="modal-content">
      <!--Header-->
      <div class="modal-header bg-danger border-0 d-flex justify-content-center">
        <p class="heading text-uppercase text-white">Are you sure to delete this comment?</p>
      </div>

      <!--Footer-->
      <div class="modal-footer flex-center border-0 modalConfirmDeleteComment">
        <a type="button" class="btn btn-outline-edit-comment waves-effect text-white" id="btn-confirmDelete" >Yes</a>
        <a type="button" class="btn btn-edit-comment text-white" data-dismiss="modal">No</a>
      </div>
    </div>
    <!--/.Content-->
  </div>
</div>
<!--Modal: modalConfirmDelete-->

<script
  src='//ajax.googleapis.com/ajax/libs/jquery/1.8.1/jquery.min.js'
></script>
<script src="/js/moment.js"></script>
<script src='/js/movie-detail.js'></script>
